// helpers
// =======
$range-track-base-color: #fff;
$range-thumb-base-color: green;

// settings
// ========
$range-mimic-ms: false;

// input 
// =====
$range-width: 100%;
$range-height: auto;

// track 
// =====
$range-track-width: 100%;
$range-track-height: 5px;
$range-track-background: $range-track-base-color;
$range-track-border-width: 1px;
$range-track-border-style: solid;
$range-track-border-color: darken($range-track-base-color, 20%);
$range-track-border-radius: 2.5px;
$range-track-box-shadow-h-offset: 0;
$range-track-box-shadow-v-offset: 0;
$range-track-box-shadow-blur: 0;
$range-track-box-shadow-spread: 0;
$range-track-box-shadow-color: adjust-color($color: $range-track-base-color, $alpha: -0.4);
$range-track-box-shadow: 
  $range-track-box-shadow-h-offset 
  $range-track-box-shadow-v-offset 
  $range-track-box-shadow-blur 
  $range-track-box-shadow-spread 
  $range-track-box-shadow-color;

// track pseudo
// ============

// :focus
$range-track-background-focus: $range-track-background;            
$range-track-border-width-focus: $range-track-border-width;
$range-track-border-style-focus: $range-track-border-style;
$range-track-border-color-focus: $range-track-border-color;
$range-track-box-shadow-h-offset-focus: $range-track-box-shadow-h-offset;
$range-track-box-shadow-v-offset-focus: $range-track-box-shadow-v-offset;
$range-track-box-shadow-blur-focus: $range-track-box-shadow-blur;
$range-track-box-shadow-spread-focus: $range-track-box-shadow-spread;
$range-track-box-shadow-color-focus: $range-track-box-shadow-color;
$range-track-box-shadow-focus: 
  $range-track-box-shadow-h-offset-focus 
  $range-track-box-shadow-v-offset-focus
  $range-track-box-shadow-blur-focus 
  $range-track-box-shadow-spread-focus 
  $range-track-box-shadow-color-focus;

// thumb
// =====
// todo: take blur into account when calculating sizes 
// https://stackoverflow.com/questions/22329537/compute-box-shadow-width-for-an-element#answer-22329716
/*
top = (spread - v_shadow + 0.5*blur)
right = (spread + h_shadow + 0.5*blur)
bottom = (spread + v_shadow + 0.5*blur)
left = (spread - h_shadow + 0.5*blur)
*/

$range-thumb-width: 24px;
$range-thumb-height: 24px;
$range-thumb-background-size: 100% 100%;
$range-thumb-background: $range-thumb-base-color;
$range-thumb-border-width: 1px;
$range-thumb-border-style: solid;
$range-thumb-border-color: $range-track-base-color;
$range-thumb-border: $range-thumb-border-width $range-thumb-border-style $range-thumb-border-color;
$range-thumb-border-radius: 50%;
$range-thumb-cursor: pointer;

// important for ms
$range-track-margin-for-ie: (($range-thumb-height/2) - (($range-track-height ) / 2));

$range-thumb-box-shadow-h-offset: 0;
$range-thumb-box-shadow-v-offset: 0;
$range-thumb-box-shadow-blur: 0;
$range-thumb-box-shadow-spread: 3px;
$range-thumb-box-shadow-color: adjust-color($color: $range-thumb-base-color, $alpha: -0.4);
$range-thumb-box-shadow: 
  $range-thumb-box-shadow-h-offset 
  $range-thumb-box-shadow-v-offset 
  $range-thumb-box-shadow-blur 
  $range-thumb-box-shadow-spread 
  $range-thumb-box-shadow-color;

// thumb pseudo
// ============

// :active
// active has no webkit say, so using :hover as active on ms and moz

// :focus
$range-thumb-background-focus: darken($range-thumb-background, 10%);            
$range-thumb-border-width-focus: $range-thumb-border-width;
$range-thumb-border-style-focus: $range-thumb-border-style;
$range-thumb-border-color-focus: green;
$range-thumb-box-shadow-h-offset-focus: $range-thumb-box-shadow-h-offset;
$range-thumb-box-shadow-v-offset-focus: $range-thumb-box-shadow-v-offset;
$range-thumb-box-shadow-blur-focus: $range-thumb-box-shadow-blur;
$range-thumb-box-shadow-spread-focus: $range-thumb-box-shadow-spread;
$range-thumb-box-shadow-color-focus: $range-thumb-box-shadow-color;
$range-thumb-box-shadow-focus: 
  $range-thumb-box-shadow-h-offset-focus 
  $range-thumb-box-shadow-v-offset-focus
  $range-thumb-box-shadow-blur-focus 
  $range-thumb-box-shadow-spread-focus 
  $range-thumb-box-shadow-color-focus;

// :hover
$range-thumb-background-hover: darken($range-thumb-background, 10%);              
$range-thumb-border-width-hover: $range-thumb-border-width;
$range-thumb-border-style-hover: $range-thumb-border-style;
$range-thumb-border-color-hover: darken($range-thumb-border-color, 10%);
$range-thumb-box-shadow-h-offset-hover: $range-thumb-box-shadow-h-offset;
$range-thumb-box-shadow-v-offset-hover: $range-thumb-box-shadow-v-offset;
$range-thumb-box-shadow-blur-hover: $range-thumb-box-shadow-blur;
$range-thumb-box-shadow-spread-hover: $range-thumb-box-shadow-spread;
$range-thumb-box-shadow-color-hover: darken($range-thumb-box-shadow-color, 10%);
$range-thumb-box-shadow-hover: 
  $range-thumb-box-shadow-h-offset-hover 
  $range-thumb-box-shadow-v-offset-hover
  $range-thumb-box-shadow-blur-hover 
  $range-thumb-box-shadow-spread-hover 
  $range-thumb-box-shadow-color-hover;
