@import "_variables";
@import "_mixins.scss";

// moz rules
input[type='range'] {

  // ensure moz
  @supports (-moz-appearance: none) {
    // fix for FF unable to apply focus style bug
    // note: this is fixed as of version 60: https://bugzilla.mozilla.org/show_bug.cgi?id=712130
    // as per 2019-08-21 FF is at 68 - outcommented in favor of using border for mimicing ms
    // border: 1px solid transparent;    
  }
  
  &::-moz-range-track {
    @include range-track-static(
      $range-track-width, 
      $range-track-height,
      $range-track-box-shadow,
      $range-track-background, 
      $range-track-border-width,
      $range-track-border-style,
      $range-track-border-width, 
      $range-track-border-radius
      );
  }

  &::-moz-range-thumb {    
    @include range-thumb-static(
      $range-thumb-box-shadow,
      $range-thumb-width,
      $range-thumb-height,
      $range-thumb-background,
      $range-thumb-background-size,
      $range-thumb-border,
      $range-thumb-border-radius,
      $range-thumb-border-width,
      $range-thumb-border-style,
      $range-thumb-border-color,
      'auto',  
      $range-thumb-border-width-hover,
      $range-thumb-border-style-hover,
      $range-thumb-border-color-hover,
      $range-thumb-background-hover,
      $range-thumb-box-shadow-hover,
      $range-thumb-border-width-focus,
      $range-thumb-border-style-focus,
      $range-thumb-border-color-focus,
      $range-thumb-background-focus,
      $range-thumb-box-shadow-focus
      );
  }

  // hide the outline behind the border
  &:-moz-focusring {
    outline: 1px solid transparent;
    outline-offset: -1px;  
  }

  &::-moz-focus-outer {
    border: 0;  
  }

  &:focus::-moz-range-track {
    background: $range-track-background-focus;  
  }
  
  // helper class for mimicing ms on moz
  &.ms {
    @supports (-moz-appearance: none) {
      // mimic ms
      border-right: $range-thumb-box-shadow-spread solid transparent;
      border-left: $range-thumb-box-shadow-spread solid transparent;
      max-width:100%;
    }
    &::-moz-range-track {
      // add extra width to track to get it to expand over border-left and right
      width:calc(100% + calc(#{$range-thumb-box-shadow-spread} * 2));
    }

  }
}
