@import "_variables";
@import "_mixins.scss";
input[type='range'] {
  width: $range-width;
  height: $range-thumb-height + ($range-thumb-box-shadow-spread * 2);  
  background-color: transparent;
  box-sizing: border-box;
  padding: 0;
  margin:0;
  &:focus {
    outline: none;
  }
} 
@import "range.static.webkit.scss";
@import "range.static.moz.scss";
@import "range.ms.scss";


