@import "_variables";
@import "_mixins.scss";

input[type="range"] {

  -webkit-appearance: none;

  // ensure webkit
  // this is responsible for aligning the thumb
  // @supports (-webkit-box-reflect:unset) {
  //   --range-thumb-margin-top: calc(calc(-1 * calc(calc(calc(var(--range-thumb-height) - var(--range-track-height)) / 2))  - calc(calc(var(--range-track-border-width) * 1) + calc(var(--range-thumb-box-shadow-spread) *0) )));  
  // }

  &::-webkit-slider-runnable-track {
    @include range-track-static(
      $range-track-width, 
      $range-track-height,
      $range-track-box-shadow,
      $range-track-background, 
      $range-track-border-width,
      $range-track-border-style,
      $range-track-border-color, 
      $range-track-border-radius
      );

  }

  &::-webkit-slider-thumb {

    $range-thumb-margin-top: calc(calc(-1 * calc(calc(calc(#{$range-thumb-height} - #{$range-track-height}) / 2))  - calc(calc(#{$range-track-border-width} * 1) + calc(#{$range-thumb-box-shadow-spread} *0) )));

    -webkit-appearance: none;
    @include range-thumb-static(
      $range-thumb-box-shadow,
      $range-thumb-width,
      $range-thumb-height,
      $range-thumb-background,
      $range-thumb-background-size,
      $range-thumb-border,
      $range-thumb-border-radius,
      $range-thumb-border-width,
      $range-thumb-border-style,
      $range-thumb-border-color,
      $range-thumb-margin-top,  
      $range-thumb-border-width-hover,
      $range-thumb-border-style-hover,
      $range-thumb-border-color-hover,
      $range-thumb-background-hover,
      $range-thumb-box-shadow-hover,
      $range-thumb-border-width-focus,
      $range-thumb-border-style-focus,
      $range-thumb-border-color-focus,
      $range-thumb-background-focus,
      $range-thumb-box-shadow-focus
      );

  }


  &:focus::-webkit-slider-runnable-track {
    background: $range-track-background-focus;
  }

  // helper class for mimicing ms on webkit
  &.ms {
    &::-webkit-slider-runnable-track {
      padding:0 $range-thumb-box-shadow-spread;     
    }
  }

}


