@import "_variables";
@import "_mixins.scss";

input[type="range"] {

  // ms only rules - note: no css variable support because of suck!
  // ms don't allow for css variables in pseudo selctors
  &::-ms-track {
  
  // note: don't use box shadow on track it self. 
  // this is because ms uses lower upper model
  // and shadow will shine through their intersection

    box-sizing: border-box;
    width: $range-track-width;
    height: $range-track-height;  
    background: transparent;
    color: transparent; 
    border: none;
    outline: none;      
    margin: $range-track-margin-for-ie 0;
    // edge    
    @supports (-ms-ime-align: auto) {
      margin: $range-track-margin-for-ie 0;
    }    
  }

  &::-ms-tooltip {
    display: none;
  }
  
  // left side of track
  &::-ms-fill-lower {  
    box-sizing: border-box;
    background: $range-track-background;
    border-width: $range-track-border-width;
    border-style: $range-track-border-style;
    border-right-style: none;
    border-color: $range-track-border-color;
    border-top-left-radius: $range-track-border-radius;
    border-bottom-left-radius: $range-track-border-radius;
    &:focus {
      background: $range-track-background-focus;
    }
  }

  // right side of track
  &::-ms-fill-upper {
    box-sizing: border-box;
    background: $range-track-background;
    border-width: $range-track-border-width;
    border-style: $range-track-border-style;
    border-left-style: none;
    border-color: $range-track-border-color;
    border-top-right-radius: $range-track-border-radius;
    border-bottom-right-radius: $range-track-border-radius;  
    &:focus {
      background: $range-track-background-focus;
    }
  }
  
  &::-ms-thumb {   
    @include range-thumb-static(
      $range-thumb-box-shadow,
      $range-thumb-width,
      $range-thumb-height,
      $range-thumb-background,
      $range-thumb-background-size,
      $range-thumb-border,
      $range-thumb-border-radius,
      $range-thumb-border-width,
      $range-thumb-border-style,
      $range-thumb-border-color,
      0,  
      $range-thumb-border-width-hover,
      $range-thumb-border-style-hover,
      $range-thumb-border-color-hover,
      $range-thumb-background-hover,
      $range-thumb-box-shadow-hover,
      $range-thumb-border-width-focus,
      $range-thumb-border-style-focus,
      $range-thumb-border-color-focus,
      $range-thumb-background-focus,
      $range-thumb-box-shadow-focus
    );
    // ensure room for box shadow
    margin: 0 $range-thumb-box-shadow-spread;
    // edge 
    @supports (-ms-ime-align: auto) {
      & {
        // ensure room for box shadow
        padding: $range-thumb-box-shadow-spread !important;
      }
    }
  }


//  ::-ms-ticks-before { }
//  ::-ms-ticks-after { }
//  ::-ms-thumb:hover { }  
//  :focus::-ms-track { }
}
